@import 'settings.scss';


.component {
	padding: 192px 0;
	background-position: center;
	background-size: cover;	
  	background-image: 
  	linear-gradient(to bottom,#191927,black );


		.image {
			height: 60%;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.info {
			margin: 12px;
			font-size: 24px;
			font-family: $font-text;
			width: auto;
		}	

}

	.row {
		flex-wrap: wrap;
		display: flex;
	}

	.container{	
		-webkit-box-shadow: -2px 19px 33px 0px rgba(0,0,0,0.12);
		-moz-box-shadow: -2px 19px 33px 0px rgba(0,0,0,0.12);
		box-shadow: -2px 19px 33px 0px rgba(0,0,0,0.12);
		background-color: $color-one;
		margin: auto;
		width: 500px;
		height: 700px;
	}

	.list {
		margin: 48px  auto 0 0;
		height: 80vh;


		.title {
		display: inline-block;
		color: $color-one;
		font-family: $font-text;
	}
	}

