@import 'settings.scss';


.component {
	height: 100vh;
	overflow: hidden;

    .image {    
    width: 100%;
    height: 100%;
    animation: universe-close-up infinite 20s linear;
    position: relative;
    background-position: center;
	background-size: cover;	
  	background-image:  	linear-gradient(to bottom,transparent 50%,#191927 95% 100% ),
	url('../images/header.jpg');



	}
}

    h1 {    
      font-family: $font-title;
      color: $color-one;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%,-50%);
      font-size: 72px;
      letter-spacing: 4px;
    }


@keyframes universe-close-up {
  0% {
    transform: scale(1.03);
  }

  5% {
  	transform: scale(1.025);
  }

  45% {
  	transform: scale(1.005);
  }

  50%{
    transform: scale(1);
  }

  55% {
  	transform: scale(1.005);
  }

  95%{
  	transform: scale(1.025);
  }

  100% {
    transform: scale(1.03);
  }
}



@media(max-width: 767px) {

  h1 {
    font-size: 36px;
  }
}