@import 'settings.scss';


.component {
	z-index: 9999;
	position: static;
	background-color: $color-four;
	width: 100%;
	margin: 0;
	-webkit-box-shadow: inset 0px -66px 42px -25px rgba(105,105,105,0.63);
	-moz-box-shadow: inset 0px -66px 42px -25px rgba(105,105,105,0.63);
	box-shadow: inset 0px -66px 42px -25px rgba(105,105,105,0.63);

	ul {
		margin: 0;
		padding: 8px;
		list-style-type: none;

		li {
			display: inline;
			margin: 12px;

			a {
				cursor: pointer;
				color: black;
				transition: $transition;
			}

			a:hover {

			color: $color-two;
			}
		}
	}
}