.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.scroll-to-top {
  position: fixed; /* Fixed/sticky position */
  bottom: 50vh; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #023359; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 70%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  animation: jumping-icon infinite 3s ease-in-out;
}

.project-img {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

footer {
  padding: 24px;
  margin-top: 30vh;
  background-color: #ededed;
  font-family: 'Barlow Condensed', sans-serif;
}


@keyframes jumping-icon {
  0% {
    transform: scale(1);
  }
  10%{
    transform: scale(1.2);
  }
  20% {
    transform: scale(1);
  }

  30%{
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }  
}
